@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    }

body {
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #643636a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #86A69D;
    text-align: center;
    text-shadow: 1px 1px 2px #4e615bc5;
}

h2 {
    color: #F2B263;
}

p {
    text-align: justify;
}
